<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
        <app-text-input type="text" property="userName" [form]="loginForm"
            [validationErrors]="userNameValidationError" label="Email"></app-text-input>
        
        <app-text-input type="password" property="password" [form]="loginForm"
            [validationErrors]="passwordValidationError" label="Password"></app-text-input>
        <p>Complete the form to enable button.</p>
        <button type="submit" mat-button [disabled]="!loginForm.valid" cdkFocusInitial>Login</button>
    </div>
</form>