<form [formGroup]="memberRegisterForm" (ngSubmit)="onSubmit()">
    <app-text-input type="email" property="email" [form]="memberRegisterForm" label="Email"
        [validationErrors]="emailValidationError"></app-text-input>

    <app-text-input type="text" property="name" [form]="memberRegisterForm" label="Username"
        [validationErrors]="nameValidationError"></app-text-input>

    <app-text-input type="password" property="password" [form]="memberRegisterForm" label="Password"
        [validationErrors]="passwordValidationError"></app-text-input>

    <app-text-input type="text" property="phoneNumber" [form]="memberRegisterForm" label="Phone Number"
        [validationErrors]="phoneNumberValidationError"></app-text-input>

    <p>Complete the form to enable button.</p>
    <button type="submit" mat-button [disabled]="!memberRegisterForm.valid" cdkFocusInitial>Register</button>
</form>