<div [formGroup]="form">
    <mat-form-field>
        <mat-label>{{label}}</mat-label>
        <mat-select  [id]="property" class="form-control" [formControlName]="property">
            <mat-option *ngFor="let option of options.data;" value="{{option.key}}">{{option.value}}</mat-option>
        </mat-select>

        <div *ngIf="data?.invalid && (data?.dirty || data?.touched)" class="alert alert-danger">
            <ng-template ngFor let-error [ngForOf]="validationErrors.data" let-i="index">
                <mat-error *ngIf="data?.hasError(error.key)">
                    {{error.value}}
                </mat-error>
            </ng-template>
        </div>
    </mat-form-field>
</div>